.sidebar {
  grid-area: aside;
  color: var(--white);
  background-color: var(--dark);
  min-height: 100vh;
  height: 100%;
  max-width: 300px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.title {
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 8px;
}

.description {
  color: var(--dark-grey);
  font-size: 1rem;
  line-height: 1.6em;
}
